body {
    background-color: rgb(45, 92, 180);
    color: cornsilk;

}
main {
    background-color: white;
    color: black;
    border-radius: 20px;
    font-size: 30px;
    width: 500px;
    height: 300px;
    margin: auto;
    padding: 20px;
    box-shadow: 3px 5px 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
